@import 'styles/utils/index'

.wrapper
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  & > div div:first-of-type
    margin-bottom: -3rem

    div
      background: $primary
      transform: translateY(-1.8rem)

      @include media('<=phone')
        transform: translateY(-0.8rem)

    @include media('<=phone')
      margin-bottom: -3rem

.header
  width: 100%
  display: flex
  align-items: center
  flex-direction: column
  height: 30rem

.gallery div
  margin-bottom: 0 !important

.title
  margin-top: 6.2rem
  color: $primary
  font-family: $title
  font-size: 11rem
  letter-spacing: -0.2rem

  @include media('<=phone')
    margin-top: 3.4vh
    font-size: 14.8rem
    letter-spacing: -0.32rem

.footer__label
  margin-top: 6vh
  color: #7d7d73
  font-family: $text
  font-size: 2rem
  letter-spacing: 0.1rem

.footer__title
  margin: 1vh 0 12rem 0
  color: $primary
  font-family: $title
  font-size: 10rem

  &:after
    content: ''
    display: block
    width: 100%
    height: 0.5rem
    background: $primary
    origin: 100% 50%
    margin-top: -0.6rem
    transition: 450ms cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    &:after
      width: 0%