@import 'styles/utils/index'

.wrapper
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100%

.title
  margin-top: 14vh
  color: $primary
  font-family: $title
  font-size: 14.8rem