@import 'styles/utils/index'

.navigation
  position: sticky
  height: $height-nav
  top: $top
  left: 50%
  border-radius: 1rem 1rem 0 0
  background: #0b0b0b
  display: flex
  align-items: center
  justify-content: space-between
  z-index: 3

  &:before
    content: ''
    position: absolute
    top: -2.1rem
    bottom: 0
    width: 101%
    left: -0.5%
    background: #0b0b0b

  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    background: none
    border: 1px solid rgba(239, 239, 210, 0.3)
    border-radius: 1rem 1rem 0 0
    z-index: 0
    pointer-events: none

  @include media('<=phone')
    width: $width-m
    top: $top-m
    height: $height-nav-m

.logo__wrapper
  height: 100%
  padding: 0 5.2rem 0 3rem
  border-right: 1px solid rgba(239, 239, 210, 0.3)
  cursor: pointer
  height: 100%

  @include media('<=phone')
    padding: 0 10rem 0 3.2rem
    width: 8.8rem

.logo
  width: 5.6rem
  height: 100%
  opacity: 1
  color: #B3FC03
  display: flex
  align-items: center
  justify-content: center

  svg
    color: inherit
    transform: translateY(-0.8rem)
    height: 100%
    width: 100%

  @include media('<=phone')
    width: 6.8rem

    svg
      transform: translateY(-1rem)

.menu
  height: 100%
  padding: 0 9rem 0 4rem
  border-left: 1px solid rgba(239, 239, 210, 0.3)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  position: relative

  .icon
    border-radius: 50%
    padding: 1rem
    background: $primary
    color: $black
    font-size: 1.8rem
    width: 2.4rem
    height: 2.4rem
    text-align: center
    transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    align-items: center
    justify-content: center

    @include media('<=phone')
      width: 2.4rem
      height: 2.4rem
      font-size: 2rem

  @include media('<=phone')
    padding: 0 10rem 0 3.2rem

  &:hover .icon
    width: 101%
    height: 104%
    border-radius: 0 1rem 0 0 

.active
  color: $black

.menu__wrapper
  position: fixed
  top: $top
  width: $width
  height: calc($height-nav - 1.2%)
  transform: scale(0)
  background: $primary
  left: 1.32vw
  z-index: 2
  color: $black
  border: none
  border-top: 0
  border-radius: 1rem
  // overflow: auto
  padding-top: 7%
  display: block

  @include media('<=phone')
    width: $width-m
    top: $top-m
    left: 2%
    height: calc($height-nav-m - 2.4%)

.menu__close

.menu__content
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center
  height: 86%
  width: 100%
  position: relative

  @include media('<=phone')
    flex-direction: column
    gap: 10%
    height: 100%

.menu__text
  width: 20rem
  font-weight: bold
  line-height: 1.3
  letter-spacing: 0.1rem
  margin-right: 28rem

  @include media('<=phone')
    position: absolute
    width: 26rem
    font-size: 3.8rem
    top: 13%
    left: 13%
    margin-right: 0
    z-index: 3

.olho
  color: $black
  width: 32rem
  margin-right: 20rem

  @include media('<=phone')
    position: absolute
    top: 28%
    right: 13%
    width: 38rem
    margin-right: 0
    z-index: 3

  //media query 480px
  @media (min-width: 620px)
    top: 10%
    right: 10%
  

.line
  @include media('<=phone')
    display: none

.menu__list
  display: flex
  flex-direction: column
  gap: 7.2rem

  @include media('<=phone')
    position: absolute
    bottom: 12%
    left: 13%
    gap: 5.4rem
    z-index: 4

.menu__item
  font-size: 14rem
  font-family: $title
  text-transform: uppercase
  width: fit-content

  &:after
    content: ''
    display: block
    width: 0
    height: 0.5rem
    background: $black
    margin-top: 0.8rem
    transition: 450ms cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    &:after
      width: 100%
  
  @include media('<=phone')
    font-size: 18rem
