@import 'styles/utils/index.scss';

.element {
  color: var(--color);
  height: 7rem;
  pointer-events: none;
  position: fixed;
  transition: background 1s var(--ease-out-cubic);
  width: 100%;
  z-index: 10;

  &:before {
    @extend %cover;

    background: var(--background);
    border-bottom: 1px solid var(--color-black-10);
    content: '';
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s var(--ease-out-cubic);
  }

  &--scrolling {
    &:before {
      opacity: 1;
    }
  }

  @include media('<=phone') {
    height: 5rem;
  }
}

.wrapper {
  @extend %wrapper-128;

  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;

  @include media('<=phone') {
    width: calc(100% - 1.6rem * 2);
  }
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 0;
  pointer-events: auto;
  position: relative;

  @include media('<=phone') {
    transform: scale(0.7);
  }
}

.icon {
  display: block;
  height: 2.8rem;
  transition: color 0.4s var(--ease-out-cubic);

  &:hover {
    color: var(--color-cold-purple);
  }
}

.list {
  align-items: center;
  display: flex;
  gap: 4rem;
  line-height: 1.4rem;

  @include media('<=phone') {
    background: var(--color-jonquil);
    border-radius: 1rem;
    color: var(--color-black);
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(2rem);
    transition-duration: 0.4s;
    transition-property: opacity, transform, visibility;
    transition-timing-function: (--ease-out-cubic);
    visibility: hidden;
    z-index: 100;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.item {
  align-items: center;
  display: flex;
  height: fit-content;
  pointer-events: auto;
}

.link {
  opacity: 0.7;
  position: relative;
  transition: opacity 1s var(--ease-out-cubic);

  &:after {
    background: var(--color-cold-purple);
    border-radius: 50%;
    content: '';
    height: 0.6rem;
    position: absolute;
    left: -1.25rem;
    margin-top: 0.1rem;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform 1s var(--ease-out-cubic);
    width: 0.6rem;
  }

  &--active {
    opacity: 1;

    &:after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
}

.text {
  display: block;
  overflow: hidden;
  pointer-events: none;
  position: relative;
}

.text__original {
  display: inline-block;

  .text:hover & {
    opacity: 0;
    transition: opacity 0.4s var(--ease-out-cubic), transform 0.4s var(--ease-out-cubic);
    transform: translateY(-100%);
  }
}

.text__hover {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);

  .text:hover & {
    opacity: 1;
    transition: opacity 0.4s var(--ease-out-cubic), transform 0.4s var(--ease-out-cubic);
    transform: translateY(0);
  }
}

.contact {
  font-size: 1.4rem;
  height: 3.2rem;

  @include media('<=phone') {
    background: var(--color-cold-purple);
  }
}
