%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%page {
  overflow: hidden;
  padding: 20rem 0;

  @include media('<=phone') {
    padding: 10rem 0;
  }
}

%wrapper-100 {
  margin: auto;
  width: 100rem;

  @include media('<=phone') {
    width: calc(100% - 6rem);
  }
}

%wrapper-109 {
  margin: auto;
  width: 109rem;

  @include media('<=phone') {
    width: calc(100% - 6rem);
  }
}

%wrapper-114 {
  margin: auto;
  width: 114.7rem;

  @include media('<=phone') {
    width: calc(100% - 6rem);
  }
}

%wrapper-128 {
  margin: auto;
  max-width: 128rem;

  @include media('<=phone') {
    width: calc(100% - 6rem);
  }
}
