html, body, #__next, main 
  height: 100%
  width: 100%

html
  font-size: calc(100vw / 1920 * 10)
  overflow-x: hidden

  @include media('<=phone')
    font-size: calc(100vw / 1024 * 10)

body
  font-size: 3rem
  overscroll-behavior-y: none
  background: $black
  color: $white
  font-family: $text

.app
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

.content
  width: 95vw
  height: calc(92vh - 7vh)
  border: 1px solid $gray
  border-top: 0
  border-radius: 0 0 3.2rem 3.2rem
  position: relative
  overflow: auto
  top: calc(50vh - 3.5vh)
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1
