html, body, #__next, main {
  height: 100%;
  width: 100%;
}

html {
  font-size: calc(100vw / 1920 * 10);
  overflow-x: hidden;

  @media (max-width: 1024px) {
    font-size: calc(100vw / 1024 * 10);
  }
}

body {
  font-size: 3rem;
  overscroll-behavior-y: none;
  background: $black;
  color: $white;
  font-family: $text;
}
