@import 'styles/utils/index'

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.icon
  width: 8rem
  height: 12rem
  margin-top: 3.6rem

.title
  font-size: 36.4rem
  letter-spacing: -0.8rem
  font-family: $title
  margin-top: 4rem
  color: $primary

  @include media('<=phone')
    font-size: 20rem

.icon
