@import 'styles/utils/index'

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.icon
  width: 8rem
  height: 12rem
  margin-top: 3.6rem

.title
  font-size: 36.4rem
  letter-spacing: -0.8rem
  font-family: $title
  margin-top: 4rem
  color: $primary

  @include media('<=phone')
    font-size: 20rem

.description
  display: flex
  width: 100%
  margin-top: 8.3rem

  & > div > div
    background: $white

  @include media('<=phone')
    flex-direction: column

.description__title
  font-size: 15rem
  font-family: $title
  letter-spacing: -0.2rem
  margin-right: 2rem
  margin-left: 19rem
  color: $primary

  @include media('<=phone')
    font-size: 10rem
    margin-top: 6rem
    margin-left: 14rem

.description__text
  font-size: 1.8rem
  letter-spacing: 0.2rem
  font-family: $text
  margin-right: 2rem
  max-width: 74rem
  text-transform: uppercase
  margin-left: 30rem
  line-height: 3.2rem

  @include media('<=phone')
    margin-top: 6rem
    margin-left: 14rem


.description__paragraph:not(:first-of-type)
  margin-top: 3rem

.icon
