@import 'styles/utils/index'

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  overflow: hidden
  scale: 0.91
  height: calc(100vh - 2rem - 7.2rem - 2rem) //window - top - nav - bottom

  @media (max-height: 800px)
    scale: 0.9

    @include media('<=phone')
      scale: 1

  @include media('<=phone')
    height: calc(100vh - 3rem - 9.6rem - 2rem)

    @media (max-height: 800px)
      height: unset
      margin: 3rem 0 10rem 0
      overflow: auto

      .buttons__wrapper
        margin-bottom: 4vh

  @media (min-aspect-ratio: 3/1.4)
    height: unset
    margin: 3rem 0 10rem 0
    overflow: auto

    .buttons__wrapper
      margin-bottom: 4vh

.accent
  background-color: $primary
  position: absolute
  top: -5%
  right: 8%
  width: 4rem
  height: 0.32rem

  @include media('<=phone')
    top: -1.6%
    left: 73%
    width: 4.8rem
    height: 0.42rem

.line
  width: 0
  height: 0.3rem
  background: $primary
  position: absolute

  &:nth-of-type(1)
    top: 0
    left: 0

  &:nth-of-type(3)
    bottom: 0
    right: 0

  @include media('<=phone')
    display: none

.title
  font-family: $title
  color: $primary
  font-size: 14.8rem
  display: flex
  align-items: center
  margin-top: 9rem
  gap: 1.8rem
  opacity: 1
  position: relative
  letter-spacing: -0.3rem

  @include media('<=phone')
    position: static
    flex-direction: column
    gap: 6rem
    font-size: 17rem
    margin-top: 4.4vh
    letter-spacing: 0.6rem
    transform: translate(0)

    h1:nth-child(3)
      margin-top: 1.8vh

.firstName
  transform: translateX(40rem)
  opacity: 0,

.secondName
  transform: translateX(-50rem)
  opacity: 0,

.icon__wrapper
  position: static !important

.icon
  width: 40rem
  height: 25rem
  transform: translateY(-1rem)
  display: flex
  align-items: center

.rive
  width: 40rem
  height: 40rem
  position: absolute

  @include media('<=phone')
    position: static
    top: unset
    left: unset
    transform: translate(0)
    width: 50rem
    margin-bottom: 2%

.paragraph
  transform: translateX(-6.8rem)
  text-transform: uppercase
  font-family: $text
  font-weight: medium
  letter-spacing: 0.1rem
  line-height: 1.6
  font-size: 2rem
  width: 60rem
  opacity: 0.6
  text-align: center

  &:nth-of-type(1)
    margin-top: 8.2vh
    color: $gray

    @include media('<=phone')
      margin-top: 8rem
      width: 80%

  &:nth-of-type(2)
    margin: 5.2vh 0 2.8vh
    color: $gray

    @include media('<=phone')
      display: none

  &:nth-of-type(4)
    color: $primary
    opacity: 1
    margin-top: 3.4vh

    @include media('<=phone')
      margin-top: 2rem
      font-size: 2.8rem
      width: 90%

  @include media('<=phone')
    font-size: 2.6rem
    transform: translateX(0)

.paragraph__mobile
  margin: 3.4vh 0 2vh
  width: 90%
  text-transform: uppercase
  font-family: $text
  font-weight: medium
  letter-spacing: 0.1rem
  line-height: 1.6
  font-size: 2.6rem
  color: $gray
  opacity: 0.6
  text-align: center

  @include media('>=phone')
    display: none

.label
  position: absolute
  letter-spacing: 0.1rem
  font-family: $text
  color: $white
  top: 38%
  transform: translate(-50%, -50%) scale(0.8)

  &:nth-of-type(1)
    left: -7rem
    font-size: 2.4rem

  &:nth-of-type(2)
    right: -52rem
    font-size: 2.4rem

  @include media('<=phone')
    position: static
    top: unset
    left: unset
    transform: translate(0)
    font-size: 4rem

.buttons__wrapper
  transform: translateX(-6.8rem)
  margin-top: 6.4vh
  margin-bottom: 8.4vh
  display: flex
  gap: 4.2rem

  @include media('<=phone')
    position: sticky
    flex-direction: column
    left: 50%
    transform: translateX(-50%)
    gap: 9rem
    margin-top: 6vh

.button
  height: 4.4rem
  padding: 0.2rem 2.4rem 0.5rem 4.4rem
  border: 0.1rem solid #FFF
  border-radius: 3.2rem
  font-size: 2.4rem
  color: $white
  letter-spacing: 0.2rem
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  position: relative
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)

  &:before
    content: ''
    position: absolute
    width: 0.85rem
    height: 0.85rem
    background: $white
    border-radius: 999rem
    left: 2.4rem
    top: 50%
    transform: translateY(-50%)
    transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    background: $primary
    color: $black

    &:before
      background: $black

  @include media('<=phone')
    background: $black
    border: 0.1rem solid rgba(255, 255, 255, 0.6)
    scale: 200%
