@import 'styles/utils/index'
  
.wrapper
  display: flex
  flex-direction: column
  align-items: center
  height: 100%

  @include media('<=phone')
    height: unset

.paragraph
  text-transform: uppercase
  font-family: $text
  opacity: 0.6
  font-weight: medium
  letter-spacing: 0.1rem
  line-height: 1.6
  font-size: 2rem
  color: $gray
  width: 60rem
  text-align: center

  &:nth-of-type(1)
    margin-top: 9vh

    @include media('<=phone')
      margin-top: 7vh
      width: 80%
  
  &:nth-of-type(2)
    margin-top: 35.4vh

    @include media('<=phone')
      margin-top: 4vh
      width: 68%

  &:nth-of-type(3)
    margin-top: 2.8vh
    color: $white

    @include media('<=phone')
      font-size: 4rem
      margin-top: 6.8vh
      width: 90%

  @include media('<=phone')
    font-size: 3rem

.title
  font-family: $title
  color: $primary
  font-size: 14.8rem
  display: flex
  align-items: center
  gap: 50%
  position: absolute
  top: 44%
  left: calc(50% + -9%)
  transform: translate(-50%, -50%)

  & > div
    position: absolute

    &:nth-of-type(1)
      background: $primary
      top: -74%
      left: 67%
    
    &:nth-of-type(2)
      background: $primary
      top: 108%
      left: 67%

    @include media('<=phone')
      display: none

  @include media('<=phone')
    position: static
    flex-direction: column
    gap: 1rem
    font-size: 20rem
    margin-top: 6vh
    transform: translate(0)

.label
  position: absolute
  font-family: $text
  color: $white
  top: 40%
  transform: translate(-50%, -50%) scale(0.8)

  &:nth-of-type(1)
    left: -7rem
    font-size: 2.4rem

  &:nth-of-type(2)
    top: 40%
    right: -52rem
    font-size: 2.4rem

  @include media('<=phone')
    position: static
    top: unset
    left: unset
    transform: translate(0)
    font-size: 4rem

.accent
  color: $primary

.line
  color: $primary

.icon
  position: absolute
  top: 37%
  left: 68%
  transform: translate(-50%, -50%) scale(0.8)
  width: 50rem
  height: fit-content

  @include media('<=phone')
    position: static
    top: unset
    left: unset
    transform: translate(0)
    width: 40rem
    margin-bottom: 2%

.buttons__wrapper
  margin-top: 8.5vh
  display: flex
  gap: 3.8rem

  @include media('<=phone')
    position: fixed
    bottom: 4vh
    left: 50%
    transform: translateX(-50%) scale(2)
    gap: 2.6rem

.button
  height: 4.4rem
  padding: 0.2rem 1.8rem 0.5rem 4.4rem
  border: 0.1rem solid $white
  border-radius: 3.2rem
  font-size: 2.4rem
  color: $white
  letter-spacing: 0.2rem
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  position: relative
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)

  &:before
    content: ''
    position: absolute
    width: 0.85rem
    height: 0.85rem
    background: $white
    border-radius: 999rem
    left: 2.2rem
    top: 50%
    transform: translateY(-50%)
    transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    background: $primary
    color: $black

    &:before
      background: $black

  @include media('<=phone')
    background: $black