@import 'styles/utils/index'
  
.wrapper
  display: flex
  flex-direction: column
  align-items: center
  height: 100%

  @include media('<=phone')
    height: unset

.paragraph
  text-transform: uppercase
  font-family: $text
  font-weight: medium
  letter-spacing: 0.1rem
  line-height: 1.6
  font-size: 2rem
  width: 60rem
  opacity: 0.6 
  text-align: center

  &:nth-of-type(1)
    margin-top: 8.6vh
    color: $gray

    @include media('<=phone')
      margin-top: 9vh
      width: 80%
  
  &:nth-of-type(2)
    margin: 36.2vh 0 2.8vh
    color: $gray

    @include media('<=phone')
      display: none

  &:nth-of-type(3)
    color: green
    opacity: 1

    @include media('<=phone')
      font-size: 4rem
      width: 90%

  @include media('<=phone')
    font-size: 2.6rem

.paragraph__mobile
  margin: 3.4vh 0 2vh
  width: 90%
  text-transform: uppercase
  font-family: $text
  font-weight: medium
  letter-spacing: 0.1rem
  line-height: 1.6
  font-size: 2.6rem
  color: $gray
  opacity: 0.6 
  text-align: center

  @include media('>=phone')
    display: none

.title
  font-family: $title
  color: $primary
  font-size: 14.8rem
  display: flex
  align-items: center
  gap: 52%
  position: absolute
  letter-spacing: -0.5rem
  opacity: 1
  top: 42.4%
  left: calc(50% + -9%)
  transform: translate(-50%, -50%)

  & > div
    position: absolute

    &:nth-of-type(1)
      background: $primary
      top: -74%
      left: 67%
    
    &:nth-of-type(2)
      background: $primary
      top: 108%
      left: 67%

    @include media('<=phone')
      display: none

  @include media('<=phone')
    position: static
    flex-direction: column
    gap: 7rem
    font-size: 17rem
    margin-top: 4.4vh
    letter-spacing: 0.6rem
    transform: translate(0)

    // & > div:nth-of-type(2)
    //   letter-spacing: 0.2rem

.label
  position: absolute
  letter-spacing: 0.1rem
  font-family: $text
  color: $white
  top: 38%
  transform: translate(-50%, -50%) scale(0.8)

  &:nth-of-type(1)
    left: -7rem
    font-size: 2.4rem

  &:nth-of-type(2)
    right: -52rem
    font-size: 2.4rem

  @include media('<=phone')
    position: static
    top: unset
    left: unset
    transform: translate(0)
    font-size: 4rem

.accent
  color: $primary

.line
  color: $primary

.icon
  position: absolute
  top: 37%
  left: 68%
  transform: translate(-50%, -50%) scale(0.8)
  width: 50rem
  height: fit-content

  @include media('<=phone')
    position: static
    top: unset
    left: unset
    transform: translate(0)
    width: 50rem
    margin-bottom: 2%

.buttons__wrapper
  margin-top: 8.5vh
  display: flex
  gap: 4.2rem

  @include media('<=phone')
    position: sticky
    flex-direction: column
    bottom: 8.2vh
    left: 50%
    transform: translateX(-50%) scale(1.6)
    gap: 2.2rem
    margin-top: 12vh

.button
  height: 4.4rem
  padding: 0.2rem 2.4rem 0.5rem 4.4rem
  border: 0.1rem solid #FFF
  border-radius: 3.2rem
  font-size: 2.4rem
  color: $white
  letter-spacing: 0.2rem
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  position: relative
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)

  &:before
    content: ''
    position: absolute
    width: 0.85rem
    height: 0.85rem
    background: $white
    border-radius: 999rem
    left: 2.4rem
    top: 50%
    transform: translateY(-50%)
    transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    background: $primary
    color: $black

    &:before
      background: $black

  @include media('<=phone')
    background: $black
    border: 0.1rem solid rgba(255, 255, 255, 0.6)