html, body, #__next, main 
  // height: 100%

html
  font-size: calc(100vw / 1920 * 10)

  @include media('<=phone')
    font-size: calc(100vw / 1080 * 10)

body
  padding: 2rem
  font-size: 3rem
  overscroll-behavior-y: none
  background: $black
  color: $white
  font-family: $text

::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-track
  border-radius: 10px
 
::-webkit-scrollbar-thumb
  background: $primary
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: $primary

.content
  // border-inline: 1px solid rgba(239, 239, 210, 0.3)
  // height: 90vh
  border-top: 0
  border-radius: 0 0 1rem 1rem
  clip: rect(10px, 100vw, 100vh, 0)
  z-index: 1

.border
  border: 1px solid rgba(239, 239, 210, 0.3)
  border-radius: 5px
  bottom: 2rem
  left: 2rem
  pointer-events: none
  position: fixed
  right: 2rem
  top: 2rem
  z-index: 999

  @include media('<=phone')
    top: 3rem

.top, .bottom
  position: fixed
  left: 0
  right: 0
  width: 100%
  height: 2rem
  z-index: 999
  background: $black

.top
  top: 0

  @include media('<=phone')
    height: 3rem

.bottom
  bottom: 0

@keyframes grain
  0% 
    transform: translate(20%, -15%)
  10% 
    transform: translate(-20%, -15%)
  20% 
    transform: translate(20%, -5%)
  30% 
    transform: translate(-20%, -5%)
  40% 
    transform: translate(20%, 5%)
  50% 
    transform: translate(-20%, 5%)
  60% 
    transform: translate(20%, 15%)
  70% 
    transform: translate(-20%, 15%)
  80% 
    transform: translate(20%, 5%)
  90% 
    transform: translate(-20%, 5%)
  100% 
    transform: translate(20%, -5%)

.grain
  animation: grain 6s steps(10) infinite
  background-image: url('../public/grain.png')
  background-repeat: repeat
  height: 300%
  left: -100%
  opacity: 0.06
  pointer-events: none
  position: fixed
  top: -100%
  width: 300%
  z-index: 999

