@import 'styles/utils/index'

.crew
  display: flex
  // width: 100%
  position: relative

.crew__button
  display: flex
  gap: 0 2.4rem

.crew__button__title
  font-size: 4.8rem
  font-family: $title
  color: $primary

.crew__button__icon
  border-radius: 50%
  background: $primary
  color: $black
  width: 4.4rem
  height: 4.4rem
  display: flex
  align-items: center
  justify-content: center

.crew__box
  position: absolute
  background: $primary
  color: $black
  top: 0%
  width: 100rem
  height: 30rem
  z-index: 1
  display: flex
  flex-direction: column
  padding: 0 3rem

.crew__box__button
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2.4rem
  font-family: $title

.crew__box__button__icon
  background: $black
  color: $primary
  width: 4.4rem
  height: 4.4rem
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center