@import 'styles/utils/index'

.crew
  display: flex
  width: 67%
  position: relative

.crew__button
  display: flex
  gap: 0 2.4rem
  margin-left: 23rem

.crew__button__title
  font-size: 4.8rem
  font-family: $title
  color: $primary

.crew__button__icon
  border-radius: 50%
  background: $primary
  color: $black
  width: 4rem
  height: 4rem
  display: flex
  align-items: center
  justify-content: center

.crew__box
  position: absolute
  background: $primary
  color: $black
  top: 0%
  width: 175rem
  border-radius: 1rem
  z-index: 1
  display: flex
  flex-direction: column
  padding: 0 20rem

.crew__box__button
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2.4rem 0
  font-family: $title
  margin-top: 1.6rem
  width: 30%

.crew__box__button__title
  font-size: 4.8rem
  
.crew__box__button__icon
  background: $black
  color: $primary
  width: 4.4rem
  height: 4.4rem
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center

.crew__box__content

.crew__box__list
  margin-top: 1.6rem

.crew__title
  font-size: 4.8rem
  font-family: $title
  font-weight: bold
  margin-bottom: 2.4rem

  &:not(:first-child)
    margin-top: 4rem

.crew__name
  font-size: 3.2rem
  font-family: $text
  font-weight: bold
  letter-spacing: 0.2rem
  // margin-top: 2rem
  margin-bottom: 1.6rem
